[user]
    name = Mulia Arifandy Nasution
    email = mul14@users.noreply.github.com
    signingkey = 9D307CB69C566C62
[gpg]
    program = gpg
[alias]
    br = branch
    st = status
    co = checkout
    cm = commit -m
    log1 = log --oneline
    
    unstage = reset HEAD --
    undo = reset --soft HEAD~1
    
    lastchanges = log -p HEAD^..HEAD
    conflicts="!git --no-pager diff --name-only --diff-filter=U"

    worddiff = !git diff --color | diff-highlight | less -r

    omit = update-index --assume-unchanged --
    ignored = ls-files -v | grep "^[[:lower:]]"
    unignore = update-index --no-assume-unchanged --

    standup = --all \
              --author=$USER \
              --since='9am yesterday' \
              --format=%s
[core]
    editor = $(command -v nvim || command -v vim || command -v vi || command -v nano)
    autocrlf = input
    # excludesfile = /Users/mul14/.gitignore_global
    pager = diff-highlight | less -r
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[diff]
    ; external = git-wdiff
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[push]
    default = simple
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[credential]
    helper = cache --timeout=7200
